<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mobilestore.database.dao.interfaces.IUserDAO">
    <resultMap type="mobilestore.database.models.User" autoMapping="false" id="UsersResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="surname" property="surname"/>
        <result column="email" property="email"/>
        <result column="age" property="age"/>
    </resultMap>
    <insert id="createEntity" parameterType="mobilestore.database.models.User" useGeneratedKeys="true" keyProperty="id">
        INSERT into users (name, surname, email, age) VALUES
        (#{name},#{surname},#{email},#{age})
    </insert>
    <select id="getEntityById" resultMap="UsersResultMap">SELECT * FROM users WHERE id = #{id}</select>
    <delete id="removeEntity">delete from users where id = #{id}</delete>
    <update id="updateEntity"
            keyProperty="id"
            flushCache="true"
            statementType="PREPARED">update users set name=#{name},surname=#{surname},email=#{email},age=#{age} where
        id=#{id}
    </update>
    <select id="showAllUsers" resultMap="UsersResultMap">select * from users</select>
</mapper>